<div class="product-list-item">
  <div class="image-wrapper">
    <div class="image"
         ng-style="::{
           'background-image': 'url(media/products/' + $ctrl.product.image + ')'
         }">
    </div>
    <div class="image-overlay">
      <div class="image-button-wrapper">
        <button class="secondary-button view-details-button" ng-click="$ctrl.viewDetails()">View Details</button>
        <button class="secondary-button add-to-cart-button" ng-click="$ctrl.addToCart()">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="brand" ng-bind="::$ctrl.product.brand"></div>
  <div class="title" ng-bind="::$ctrl.product.title"></div>
  <div class="price" ng-bind="::$ctrl.product.price | currency"></div>
</div>