<div class="row collapse product-details-view">
  <div class="small-12 columns text-center">
    <ul class="inline-list breadcrumb">
      <li>Home</li>
      <li>Plates</li>
      <li class="current" ng-bind="::detailsCtrl.product.title">Hand Painted</li>
    </ul>
  </div>
</div>
<div class="row product-details">
  <div class="small-12 large-6 large-offset-1 columns image-column"
       ng-style="{
         'background-image': 'url(media/products/' + detailsCtrl.product.image + ')'
       }">
  </div>
  <div class="small-12 large-4 columns end text-center">
    <div class="brand" ng-bind="::detailsCtrl.product.brand"></div>
    <div class="title" ng-bind="::detailsCtrl.product.title"></div>
    <div class="price" ng-bind="::detailsCtrl.product.price | currency"></div>
    <div class="desc" ng-bind="::detailsCtrl.product.description"></div>
    <div class="separator"></div>
    <div class="row">
      <div class="small-4 small-offset-1 columns">
        <num-picker number="detailsCtrl.quantity"
                    on-number-change="detailsCtrl.setQuantity($event.number)"></num-picker>
      </div>
      <div class="small-6 columns end">
        <button class="secondary-button add-to-cart-button" ng-click="detailsCtrl.addToCart();">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
