<ul class="header-text-wrapper nav-list inline-list">
  <li><a href="#" prevent-default>Home</a></li>
  <li><a href="#" prevent-default>Shop <span class="material-icons dropdown-link-arrow">arrow_drop_down</span></a></li>
  <li><a href="#" prevent-default>Journal</a></li>
  <li><a href="#" prevent-default>More <span class="material-icons dropdown-link-arrow">arrow_drop_down</span></a></li>
</ul>