body, a, a:visited, a:active, a:hover {
  color: #555555;
  font-size: 12px;
}

a:active, a:hover {
  text-decoration: underline;
}

.primary-button, .secondary-button{
  text-transform: uppercase;
}

.primary-button {
  background-color: #ffffff;
  border: 1px solid #111111;
  color: #111111;
}

.primary-button:hover, .primary-button:focus {
  background-color: #dddddd;
  color: #111111;
}

.secondary-button {
  background-color: #111111;
  color: #ffffff;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: #666666;
}


.dropdown-link-arrow {
  font-size: 20px;
  line-height: 12px;
  vertical-align: text-top;
}

header {
  font-weight: bold;
  text-transform: uppercase;
}

.border-bottom {
  border-bottom: 1px solid #eeeeee;
}

.header-text-wrapper {
  margin-top: 24px;
}

.nav-list {
  display: inline-block;
}


.category-banner {
  color: #eeeeee;
  margin-bottom: 36px;
}

.category-banner .banner-middle,
.category-banner .banner-left,
.category-banner .banner-right {
  position: relative;
  height: 240px;
  overflow: hidden;
}

.category-banner .banner-left {
  margin-right: 8px;
}

.category-banner .banner-right {
  margin-left: 8px;
}

.category-banner .banner-middle {
  background-color: #444444;
}

.category-banner .banner-left .plate-bg,
.category-banner .banner-right .plate-bg {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 100%;
  background-image: url(media/plates-header.jpg);
  background-size: cover;
  transform: translateY(-50%);
}

.category-banner .banner-left .plate-bg {
  left: 0;
  background-position: 10%;
  transform-origin: 0 50%;
}

.category-banner .banner-right .plate-bg {
  right: 0;
  background-position: 90%;
  transform-origin: 100% 50%;
}

.category-banner .category {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  width: 100%;
  vertical-align: middle;
  transform: translateY(-50%);
}

.category-banner .category-name {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0 10px 0;
  border-bottom: 1px solid #eeeeee;
  font-family: Serif;
  font-size: 30px;
  font-weight: bold;
}

.category-banner .category-desc {
  margin: 0 18px;
  font-size: 12px;
  font-weight: bold;
}


.product-list-item {
  text-align: center;
  font-size: .7em;
}

.image-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .7);
}

.image-wrapper {
  position: relative;
}

.image-wrapper:hover .image-overlay {
  display: block;
}

.image-button-wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.view-details-button, .add-to-cart-button {
  width: 100%;
  padding: 8px;
  font-size: 13px;
  margin: 0;
}

.add-to-cart-button {
  margin-top: 22px;
}

.product-list-item .image {
  height: 140px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 18px;
}

.product-list-item .brand {
  color: #888888;
}

.product-list-item .title {
  text-transform: uppercase;
}

.product-list-item .price {
  color: #aaaaaa;
}

.cart-summary {
  position: relative;
}

.cart-popup {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 380px;
  max-width: 90vw;
  margin-top: 10px;
  padding: 12px;
  box-shadow: 0 1px 2px #888888;
  background-color: #ffffff;
  border: 12px;
  z-index: 100;
}

.cart-popup.open {
  display: block;
}

.cart-item {
  position: relative;
}

.cart-item + .cart-item {
  margin-top: 24px;
}

.cart-item .image, .cart-item .remove-item-link {
  position: absolute;
  top: 0;
}

.cart-item .image {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: 50% 50%;
}

.cart-item .item-desc {
  min-height: 80px;
  margin: 0 30px 0 92px;
  text-align: left;
}

.cart-item .quantity {
  font-size: 12px;
  font-weight: normal;
}

.cart-item .quantity:before {
  content: 'x';
  margin: 0 7px;
  font-size: 9px;
  vertical-align: middle;
}

.cart-item .title {
  font-size: 14px;
}

.cart-item .brand {
  color: #aaaaaa;
  font-size: 11px;
}

.cart-item .price {
  font-size: 13px;
}

.cart-item .remove-item-link {
  right: 0;
}

.cart-item .remove-item-icon {
  color: #999999;
  font-size: 19px;
}

.separator {
  margin: 12px 0;
  height: 1px;
  background-color: #dddddd;
}

.cart-summary .total-desc {
  color: #aaaaaa;
  font-size: 13px;
}

.cart-summary .view-cart-button, .cart-summary .checkout-button {
  margin: 14px 0 0;
  width: 100%;
  font-size: 14px;
}

@media only screen and (min-device-width : 768px) {

  .category-banner .banner-left .plate-bg,
  .category-banner .banner-right .plate-bg {
    transform: translateY(-50%) scale(1.3);
  }

  .category-banner .banner-left .plate-bg {
    transform-origin: 0 50%;
  }

  .category-banner .banner-right .plate-bg {
    transform-origin: 100% 50%;
  }
}


.breadcrumb {
  display: inline-block;
  margin: 30px 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.breadcrumb li {
  position: relative;
  margin: 0;
  padding: 0 8px;
  color: #222222;
}

.breadcrumb li + li:before {
  content: '/';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  color: #333333;
  font-size: 18px;
  font-weight: normal;
}

.breadcrumb li.current {
  color: #bbbbbb;
}


.product-details .image-column {
  height: 320px;
  background-size: cover;
  background-position: 50% 50%;
}

.product-details .brand, .product-details .desc {
  color: #666666;
  font-size: 13px;
}

.product-details .title {
  color: #222222;
  font-size: 36px;
  font-family: serif;
}

.product-details .price {
  color: #666666;
  font-size: 17px;
  font-family: serif;
}

.product-details .desc {
  font-size: 14px;
  font-weight: bold;
}

.num-picker {
  position: relative;
  height: 52px;
  width: 77px;
  background-color: #ffffff;
}

.num-picker input.picker, .num-picker .add-link, .num-picker .remove-link {
  display: block;
  position: absolute;
}

.num-picker input.picker {
  top: 0;
  left: 0;
  height: 52px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: #eeeeee;
}

.num-picker .add-link, .num-picker .remove-link {
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #bbbbbb;
}

.num-picker .add-link {
  top: 0;
}
.num-picker .remove-link {
  bottom: 0;
}

.product-details .add-to-cart-button {
  margin: 0;
  height: 52px;
}

.cart-view {
  width: 100%;
  background-color: #eeeeee;
  min-height: 100vh;
}

.shopping-cart-title {
  margin-top: 0;
  padding: 80px 0 55px;
  font-family: Serif;
  font-size: 45px;
  text-align: center;
}

.shopping-cart-wrapper {
  background-color: #ffffff;
  padding: 24px;
  color: #888888;
  text-transform: uppercase;
}

.cell-header {
  font-size: 12px;
}

.shopping-cart-wrapper .shopping-cart-item {
  position: relative;
  margin: 18px 0 55px;
  border-top: 1px solid #cccccc;
  padding-top: 24px;
}

.shopping-cart-item .image {
  position: absolute;
  height: 70px;
  width: 100px;
  background-size: cover;
  background-position: 50% 50%;
}

.shopping-cart-item .brand, .shopping-cart-item .title {
  margin-left: 116px;
}

.shopping-cart-item .title {
  color: #111111;
  font-size: 15px;
}

.shopping-cart-item .sub-total {
  font-size: 15px;
}

.shopping-cart-item .remove-item-icon {
  font-size: 45px;
}
