<div class="cart-view">
  <h1 class="shopping-cart-title">
    Shopping Cart
  </h1>
  <div class="row">
    <div class="small-12 large-10 large-offset-1 columns shopping-cart-wrapper">
      <div ng-if="cartCtrl.getItems().length === 0" class="text-center">
        <h5>Cart is empty.</h5>
      </div>
      <div ng-if="cartCtrl.getItems().length > 0">
        <div class="row cell-header">
          <div class="small-6 columns">
            Product
          </div>
          <div class="small-2 columns">
            Quantity
          </div>
          <div class="small-2 columns">
            Total
          </div>
          <div class="small-2 columns">
            Action
          </div>
        </div>
        <div class="row shopping-cart-item" ng-repeat="item in cartCtrl.getItems()">
          <div class="small-6 columns">
            <div class="image"
                 ng-style="::{'background-image': 'url(media/products/' + item.product.image + ')'}"></div>
            <div class="brand" ng-bind="::item.product.brand"></div>
            <div class="title" ng-bind="::item.product.title"></div>
          </div>
          <div class="small-2 columns">
            <num-picker number="item.quantity"
                        on-number-change="cartCtrl.setQuantity(item, $event.number)"></num-picker>
          </div>
          <div class="small-2 columns sub-total"
               ng-bind="(item.quantity * item.product.price) | currency"></div>
          <div class="small-2 columns text-center">
            <a href="#" prevent-default ng-click="cartCtrl.removeItem(item.product)">
              <span class="material-icons remove-item-icon">clear</span>
            </a>
          </div>
        </div>
        <div class="row shopping-cart-item">
          <div class="small-12 medium-8 large-6 columns right">
            <div class="row">
              <div class="small-12 columns">Cart overview</div>
            </div>
            <div class="row">
              <div class="small-6 columns">Subtotal</div>
              <div class="small-6 columns text-right" ng-bind="cartCtrl.getTotal() | currency"></div>
            </div>
            <div class="row">
              <div class="small-6 columns">Total</div>
              <div class="small-6 columns text-right" ng-bind="cartCtrl.getTotal() | currency"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <button class="primary-button" ng-click="cartCtrl.continueShopping()">Continue shopping</button>
        </div>
        <div class="small-6 columns text-right">
          <button class="secondary-button" prevent-default>
            Checkout (<span ng-bind="cartCtrl.getTotal() | currency"></span>)
          </button>
        </div>
      </div>
    </div>
  </div>
</div>