<div class="cart-summary">
  <a href="#" ng-click="$ctrl.openCartPopup()" prevent-default>
    My Cart (<span ng-bind="$ctrl.getItemsCount()"></span>)
    <span class="material-icons dropdown-link-arrow">arrow_drop_down</span>
  </a>
  <div class="cart-popup">
    <div class="cart-popup-list">
      <div class="cart-item" ng-repeat="item in $ctrl.getItems()">
        <div class="image" ng-style="::{'background-image': 'url(media/products/' + item.product.image + ')'}"></div>
        <div class="item-desc">
          <span class="title" ng-bind="::item.product.title"></span>
          <span class="quantity" ng-bind="item.quantity"></span>
          <div class="brand" ng-bind="::item.product.brand"></div>
          <div class="price" ng-bind="::item.product.price | currency"></div>
        </div>
        <a href="#" prevent-default ng-click="$ctrl.removeItem(item.product)" class="remove-item-link">
          <span class="material-icons remove-item-icon">clear</span>
        </a>
      </div>
      <div class="cart-item no-item text-center" ng-if="$ctrl.getItems().length === 0">Cart is empty</div>
    </div>
    <div class="separator"></div>
    <div class="row total-desc">
      <div class="small-6 columns text-left">Total</div>
      <div class="small-6 columns text-right" ng-bind="$ctrl.getTotal() | currency"></div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <button class="primary-button view-cart-button" ng-click="$ctrl.viewCart()">View cart</button>
      </div>
      <div class="small-6 columns">
        <button class="secondary-button checkout-button" prevent-default>Checkout</button>
      </div>
    </div>
  </div>
</div>