<label class="num-picker" ng-attr-for="num-picker-{{$ctrl.randomId}}">
  <input class="picker" ng-attr-id="num-picker-{{ctrl.randomId}}"
         type="number" readonly value="{{$ctrl.number}}">
  <a href="#" class="add-link" prevent-default ng-click="$ctrl.add()">
    <span class="material-icons">add</span>
  </a>
  <a href="#" class="remove-link" prevent-default ng-click="$ctrl.remove()">
    <span class="material-icons">remove</span>
  </a>
</label>