<div class="row collapse category-banner text-center list-view">
  <div class="small-2 medium-3 columns">
    <div class="banner-left">
      <div class="plate-bg"></div>
    </div>
  </div>
  <div class="small-8 medium-6 columns">
    <div class="banner-middle">
      <div class="category">
        <div class="category-name">Plates</div>
        <div class="category-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at purus pulvinar, placerat turpis ac, interdum metus. Ineget massa sed enim hendrerit auctor a eget arcu. Curabitur ac pharetra nisl sit.</div>
      </div>
    </div>
  </div>
  <div class="small-2 medium-3 columns">
    <div class="banner-right">
      <div class="plate-bg"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 large-8 large-offset-2 columns">
    <ul class="small-block-grid-2 medium-block-grid-3">
      <li ng-repeat="product in listCtrl.products">
        <product-list-item product="product"
                           on-add-to-cart="listCtrl.addToCart($event.product)"
                           on-view-details="listCtrl.viewDetails($event.product)"></product-list-item>
      </li>
    </ul>
  </div>
</div>